body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #123456;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nunito";
}

h1 {
  color: white;
  text-align: center;
}
