@import url("https://fonts.cdnfonts.com/css/western");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.star-field {
  position: fixed;
  width: 100%;
  height: 100%;
}
.star {
  position: absolute;
  width: 1px; 
  height: 1px; 
  background-color: #766396;
  border-radius: 50%; 
  animation: twinkling 3s infinite;
}


@keyframes twinkling {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 0;
  }
}

p,
h1,
h2,
h3 {
  color: black;
  font-family: "Western", sans-serif;
  font-size: 30px;
  margin: 10px;
}

li {
  color: black;
  font-family: "Western", sans-serif;
  font-size: 20px;
}

.card {
  overflow: visible;
  width: 410px;
  height: 550px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  display: grid;
}

img {
  border: 2px solid black;
  width: 380px;
  height: auto;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #0619aa;
  border-radius: 5px;
}

.front,
.back {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #0619aa,
    #0619aa,
    #0619aa,
    #0619aa,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #ffff;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: black;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
}
.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
